<nav th:fragment="navbar"
	class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Admin</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item"><a class="nav-link" href="/welcome">Home</a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
					role="button" aria-expanded="false">Users</a>
					<ul class="dropdown-menu">
						<li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item"
							href="/admins">Admins</a></li>
						<li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item"
							href="/students">Students</a></li>
						<li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item"
							href="/teachers">Teachers</a></li>
					</ul></li>

				<li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
					class="nav-link" href="/groups">Groups</a></li>

				<li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
					class="nav-link" href="/courses">Courses</a></li>

				<li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
					class="nav-link" href="/lectures">Lectures</a></li>
				<li class="nav-item" sec:authorize="hasRole('ADMIN')"><a
					class="nav-link" href="/rooms">Rooms</a></li>

				<li class="nav-item"><a class="nav-link" href="/logout">Log
						out</a></li>

			</ul>
		</div>
	</div>
</nav>
