<nav th:fragment="navbar">
	<div sec:authorize="hasRole('ADMIN')"
		th:insert="~{fragments/admin_fragments :: navbar}"></div>
	<div sec:authorize="hasRole('STAFF')"
		th:insert="~{fragments/staff_fragments :: navbar}"></div>
	<div sec:authorize="hasRole('TEACHER')"
		th:insert="~{fragments/teacher_fragments :: navbar}"></div>
	<div sec:authorize="hasRole('STUDENT')"
		th:insert="~{fragments/student_fragments :: navbar}"></div>
</nav>

<nav
	th:fragment="table-pagination(objectsPool, paginationUrl, currentPage, totalPages)"
	aria-label="Page navigation">
	<ul class="pagination">
		<li class="page-item"
			th:classappend="${currentPage == 0} ? 'disabled'"><a
			class="page-link" th:href="${paginationUrl+(currentPage - 1)}"
			aria-label="Previous"> <span aria-hidden="true">«</span>
		</a></li>
		<li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
			class="page-item" th:classappend="${i == currentPage} ? 'active'">
			<a class="page-link" th:href="${paginationUrl + i}"
			th:text="${i + 1}"></a>
		</li>
		<li class="page-item"
			th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
			<a class="page-link" th:href="${paginationUrl + (currentPage + 1)}"
			aria-label="Next"> <span aria-hidden="true">»</span>
		</a>
		</li>
	</ul>
</nav>

<div th:fragment="operation-status-alert" class="container-fluid">

	<div th:if="${successMessage}"
		class="alert alert-success alert-dismissible fade show" role="alert">
		<span th:text="${successMessage}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>

	<div th:if="${errorMessage}"
		class="alert alert-danger alert-dismissible fade show" role="alert">
		<span th:text="${errorMessage}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>

</div>

<div th:fragment="my-account-table">
	<div class="row g-3 align-items-center mb-3">
		<div class="col-sm-3">
			<label for="name" class="form-label">Name</label>
		</div>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="name"
				th:value="${user.name}" disabled>
		</div>
	</div>

	<div class="row g-3 align-items-center mb-3">
		<div class="col-sm-3">
			<label for="surname" class="form-label">Surname</label>
		</div>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="surname"
				th:value="${user.surname}" disabled>
		</div>
	</div>

	<div class="row g-3 align-items-center mb-3">
		<div class="col-sm-3">
			<label for="email" class="form-label">Email</label>
		</div>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="email"
				th:value="${user.email}" disabled>
		</div>
	</div>

	<div class="row">
		<div class="offset-sm-3 col-sm-9">
			<button type="button" class="btn btn-warning btn-lg w-100"
				data-bs-toggle="modal" data-bs-target="#changePasswordModal">Change
				Password</button>
		</div>
	</div>
</div>

<div th:fragment="modal_change_password">
	<div class="modal fade" id="changePasswordModal" tabindex="-1"
		aria-labelledby="changePasswordModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:action="@{/account/change-password}" method="post">

					<div
						class="modal-header d-flex justify-content-center position-relative">
						<h5 class="modal-title m-0">Change password</h5>
						<button type="button"
							class="btn-close position-absolute end-0 me-3"
							data-bs-dismiss="modal" aria-label="Close"></button>
					</div>


					<div class="modal-body">
						<div class="mb-3">
							<label for="currentPassword" class="form-label">Current
								password</label> <input type="password" class="form-control"
								id="currentPassword" name="currentPassword" required>
						</div>

						<div class="mb-3">
							<label for="newPassword" class="form-label">New password</label>
							<input type="password" class="form-control" id="newPassword"
								name="newPassword" required>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Save
							changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>