<th:block th:fragment="table (teachers)">
	<table class="table table-striped table-bordered w-75  mx-auto">
		<thead>
			<tr class="text-center align-middle">
				<th scope="col" class="p-2">ID</th>
				<th scope="col" class="p-2">Name</th>
				<th scope="col" class="p-2">Surname</th>
				<th scope="col" class="p-2">Email</th>
				<th scope="col" class="p-2">Courses</th>
				<th scope="col" class="p-2">Tools</th>
			</tr>
		</thead>
		<tbody>
			<tr class="align-middle" th:each="teacher : ${teachers}">
				<td class="text-center p-2" th:text="${teacher.id}"></td>
				<td class="p-2" th:text="${teacher.name}"></td>
				<td class="p-2" th:text="${teacher.surname}"></td>
				<td class="p-2" th:text="${teacher.email}"></td>
				<td class="p-2"><a th:each="course : ${teacher.courses}"
					th:text="${course.name}" style="display: block;"></a></td>
				<td class="text-center p-2">
					<div
						th:with="editUrl=@{/edit-teacher/{id}(id=${teacher.id})}">
						<div
							th:insert="~{fragments/button_fragments :: edit(link=${editUrl})}"></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</th:block>

<nav th:fragment="navbar"
	class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Teacher</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link" href="/welcome">Home</a></li>

				<li class="nav-item" sec:authorize="hasAuthority('TEACHER')"><a
					class="nav-link" href="/courses">My Courses</a></li>
				<li class="nav-item" sec:authorize="hasAuthority('TEACHER')"><a
					class="nav-link" href="/schedule">My Schedule</a></li>

				<li class="nav-item">
					<form th:action="@{/logout}" method="post">
						<button type="submit" class="nav-link">Log out</button>
					</form>
				</li>

			</ul>
		</div>
	</div>
</nav>