body {
	background-color: gainsboro;
	font-family: 'Inter', sans-serif;
}

.container {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container-xxl {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}