<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	data-bs-theme="auto">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Edit Group</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/styles.css">


</head>
<body>
	<div class="container mt-5">

		<form th:action="@{/groups/edit/{id}(id=${group.id})}"
			th:object="${group}" id="groupForm" method="post" class="mt-3">

			<div class="container-fluid text-center">
				<h1>Edit Group</h1>
			</div>

			<div class="mb-3">
				<label for="name" class="form-label">Name</label> <input type="text"
					class="form-control" id="name" th:field="*{name}" required>
				<p class="text-danger" th:if="${#fields.hasErrors('name')}"
					th:errorclass="error" th:errors="*{name}" />
			</div>

			<div id="selectedStudentsHiddenInputs" th:object="${group}">
				<input type="hidden" name="students"
					th:each="student : ${group.students}" th:value="${student.id}" />
			</div>
			<div id="students-list" class="mb-3">
				<div
					th:insert="~{fragments/student_fragments :: studentSelectCheckboxList}"></div>
			</div>

			<div id="selectedCoursesHiddenInputs" th:object="${group}">
				<input type="hidden" name="courses"
					th:each="course : ${group.courses}" th:value="${course.id}" />
			</div>
			<div id="courses-list" class="mb-3">
				<div
					th:insert="~{fragments/course_fragments :: courseSelectCheckboxList(
                    coursePage=${coursePage}, 
                    selectedCourses=${group.courses})}">
				</div>
			</div>

			<div class="d-flex flex-row-reverse mb-3 ">
				<button type="submit" class="btn btn-success btn-lg">Save</button>
				<a th:href="@{/groups}" class="btn btn-secondary btn-lg me-2">Cancel</a>
			</div>
		</form>

		<div class="mb-3">
			<form th:action="@{/groups/delete/{id}(id=${group.id})}"
				method="post"
				onsubmit="return confirm('Are you sure you want to delete this group?');">
				<input type="hidden" name="_method" value="delete" />
				<button type="submit" class="btn btn-danger btn-lg">
					<i class="bi bi-trash"></i> <span>Delete</span>
				</button>
			</form>
		</div>

	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/groupFormScripts.js"></script>
</body>
</html>