<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Menu</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">University</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/welcome">Home</a></li>
					<li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')"><a
						class="nav-link" href="/admin/users">Users</a></li>
					<li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')"><a
						class="nav-link" href="/admin/groups">Groups</a></li>
					<li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')"><a
						class="nav-link" href="/admin/courses">Courses</a></li>
					<li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')"><a
						class="nav-link" href="/admin/lectures">Lectures</a></li>

					<li class="nav-item" sec:authorize="hasAuthority('ROLE_TEACHER')"><a
						class="nav-link" href="/teacher/courses">My Courses</a></li>
					<li class="nav-item" sec:authorize="hasAuthority('ROLE_TEACHER')"><a
						class="nav-link" href="/teacher/schedule">My Schedule</a></li>

					<li class="nav-item" sec:authorize="hasAuthority('ROLE_STUDENT')"><a
						class="nav-link" href="/student/courses">My Courses</a></li>
					<li class="nav-item" sec:authorize="hasAuthority('ROLE_STUDENT')"><a
						class="nav-link" href="/student/group">My Group</a></li>
					<li class="nav-item" sec:authorize="hasAuthority('ROLE_STUDENT')"><a
						class="nav-link" href="/student/schedule">My Group</a></li>

					<li class="nav-item"><a class="nav-link" href="/logout">Log
							out</a></li>

				</ul>
			</div>
		</div>
	</nav>
</body>
</html>
